<style>
    #map {
    height: 400px;
    width: 100%;
    }
</style>

<h1>My MAP</h1>

<div id="map"></div>

<h2>Directions</h2>
<div id="directions-panel"></div>

<h2>Travel Data</h2>
<div id="travel-data"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYNM2RPXaO0_eHKAK8Llnv_E2MwebLgec"></script>

<script type="text/javascript" src="/javascripts/mainMap.js"></script>

